html {
  height: 100%;
}

body {
  font-family: Palatino, serif;
  background-color: rgb(100, 121, 151);
}

h1 {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 80px;

}

.flex-containerOne {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  margin-top: 100px;
}

.project {
  width: 40%; /* Adjust based on your preference */
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  margin-top: 130px;
}

.project-header {
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  background-color: rgb(112, 112, 141);
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 30px;
  font-weight: bold;
}

.project-header:hover {
  background-color: rgb(133, 133, 161);
}

.project-content {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color: rgb(112, 112, 141);
  text-align: left;
}

.project-content p {
  margin-bottom: 0px;
  margin-top: 4px;
}

.project-content ul {
  margin-top: 4px;
}

.arrow {
  float: right;
  transition: transform 0.3s ease;
}

.project-header.active .arrow {
  transform: rotate(90deg); /* Rotates the arrow 90 degrees when active */
}

.flex-containerTwo{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: 370px;
  margin-top: 90px;
}

.contacts {
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.contacts:hover{
  transform: scale(1.1);
}


#pfp {
  width: 400px;
  border-radius: 50%;
  border: 5px solid rgb(0, 0, 0);
}

#about {
  margin: 5px;
  width: 400px;
  font-size: 30px;
}


#sidebar {
  position: fixed;
  left: -250px; /* Sidebar width */
  width: 250px;
  height: 100%;
  background: #333;
  transition: left 0.3s;
  z-index: 1000;
  margin-top: -100px;
}

#handle {
  position: absolute;
  left: 100%; /* Position the handle right at the edge of the sidebar */
  top: 0;
  width: 20px; /* Width of the handle */
  height: 100%;
  background: #666; /* Different color to make it noticeable */
  text-align: center;
  line-height: 100vh; /* Align the icon vertically */
  cursor: pointer;
  color: white; /* Icon color */
}

#sidebar:hover {
  left: 0;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.direction:hover{
  font-weight: bold;
}

#sidebar ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #444;
}